* {
  /* - page reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */

:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 133, 199);
  --lightgray: rgb(238, 238, 238);
  --gray: rgb(133, 133, 133);
}

main {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

form {
  margin-top: 10vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border-radius: 15px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.073);
  padding: 2.5vw;
}

.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10vw 0 10vw;
}

.form_header a {
  text-decoration: none;
  font-size: clamp(1px, 2vw, 16px);
}

.form_header a:nth-of-type(1) {
  color: var(--gray);
  padding: 1vw 2.5vw;
  border-radius: 10px;
  font-size: clamp(1px, 2vw, 16px);
  border: none;
}

.form_header a:nth-of-type(1):hover {
  color: var(--white);
  background-color: var(--blue);
  padding: 1vw 2.5vw;
  border-radius: 10px;
  border: none;
}

.form_header a:nth-of-type(2) {
  color: var(--white);
  background-color: var(--blue);
  padding: 1vw 2.5vw;
  border-radius: 10px;
  font-size: clamp(1px, 2vw, 16px);
  border: none;
}

h2 {
  font-size: clamp(1px, 2.6vw, 20px);
  font-weight: bold;
  color: var(--blue);
  text-align: center;
}

.input_field {
  background-color: var(--lightgray);
  padding: 2vw;
  font-size: clamp(1px, 2vw, 15px);
  font-weight: 100;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.input_field label {
  color: var(--gray);
}

.input_field input {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  height: 4vw;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.093);
  padding: 2vw;
}

.forgot {
  font-size: clamp(1px, 2vw, 15px);
  color: var(--gray);
  align-self: flex-end;
}

.forgot:hover {
  color: var(--blue);
}

input[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  padding: 1vw 2.5vw;
  border-radius: 10px;
  font-size: clamp(1px, 2vw, 16px);
  border: none;
}
