@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdthwght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 50px;
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-family: "Open Sans";
}

img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-box {
  padding: 20px;
}
