html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: gray;
}

header h3 {
  text-align: center;
  font-size: 48px;
  color: white;
}

p {
  color: #333;
  font-size: 20px;
}

li {
  color: #777;
  font-size: 20px;
}

ul li:nth-of-type(1) {
  text-decoration: overline;
}

ul li:nth-of-type(2) {
  text-decoration: line-through;
  text-align: center;
}

ul li:nth-of-type(3) {
  text-decoration: underline;
  text-align: end;
}
