* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 500px;
  margin: auto;
}
h1 {
  text-align: center;
  padding: 5px;
  border: dashed black 3px;
  border-radius: 50px;
  width: 450px;
  margin: 20px auto;
}
h2 {
  width: 400px;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 1px black;
  margin: 20px auto;
}
h3 {
  width: 150px;
  text-align: center;
  padding: 10Ípx;
  border: double greenyellow 10px;
  border-radius: 25px;
  margin: 20px auto;
}
p {
  color: blueviolet;
  padding: 10px;
  border: solid orange 2px;
  margin: 20px auto;
}
p::first-letter {
  font-size: 30px;
}
ul,
ol {
  width: 350px;
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: greenyellow;
  border: dotted greenyellow 3px;
  margin: 20px auto;
}
