.home {
  padding-inline: 10vw;
}

.random-meal {
  background: url(../../../public/img/randomCard.png) no-repeat left;
  width: 265px;
  height: 175px;
}

.home h3 {
  margin-bottom: 12px;
}

.random-meal {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  justify-content: end;
  gap: 8px;
}

.random-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.random-meal h4 {
  color: white;
  width: 200px;
}

.random-info p {
  color: white;
}

.random-info p:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.random-info p:nth-of-type(1)::before {
  content: url(../../../public/img/circlecategory.svg);
  margin-top: 5px;
}

.area-home {
  display: flex;
  overflow: scroll;
}
