@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdthwght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 50px;
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-family: "Open Sans";
  color: rgb(50, 11, 11);
}

form section {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p,
h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 10px;
}

span {
  color: rgb(225, 255, 0);
}

h1 {
  font-size: 24px;
}

h2,
h3 {
  font-size: 16px;
}

input[type="radio"] {
  accent-color: rgb(50, 11, 11);
  margin-bottom: 10px;
  margin-left: 20px;
}

.betrag {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 200px;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.105);
}

input[type="submit"] {
  text-transform: uppercase;
  font-weight: bold;
  width: 200px;
  margin-inline: 150px;
  margin-block: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: white;
  background-color: rgb(50, 11, 11);
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.105);
}
main {
  background-color: rgb(234, 79, 79);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.119);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
