@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdthwght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
  font-family: "Open Sans";
}

main {
  background-color: aquamarine;
  padding: 10%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 5%;
  border-radius: 10px;
  border: none;
}

input[type="submit"] {
  padding: 5%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.077);
}

form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
