label {
  display: block;
  font-size: 20px;
}

input {
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

/* Hier werden nun alles Text Elemete gestyled */
input[type="text"] {
  height: 40px;
}

input[type="number"] {
  /* background-color: red; */
}

textarea {
  /* background-color: green; */
  width: 100px;
  height: 30px;
}
