@font-face {
  font-family: Fredericka the Great;
  src: url(../font/FrederickatheGreat-Regular.ttf);
}
@font-face {
  font-family: Open-Sans;
  src: url(../font/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* _ header */

header {
  background: url("../img/bg.jpeg") no-repeat center;
  background-color: gray;
  background-size: cover;
  color: white;
}
h1 {
  font-family: Fredericka the Great;
  padding: 20px 0px 230px 115px;
  font-size: 40px;
}
header div {
  text-align: center;
  width: 300px;
  margin: 0 auto 110px auto;
}
header div h2 {
  font-family: Fredericka the Great;
  font-size: 30px;
  width: 200px;
  margin: 0 auto 20px auto;
}
header div p {
  font-family: Open-Sans;
  font-size: 16px;
  margin-bottom: 25px;
}

header div a {
  font-family: Open-Sans;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 13px;
}

header ul {
  font-size: 16px;
  font-family: Open-Sans;
  text-align: right;
  padding: 0 115px 50px 0;
}

header ul li {
  margin-bottom: 12px;
}

/* _ main section */

main section h3 {
  font-family: Fredericka the Great;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
main section .text {
  font-family: Open-Sans;
  font-size: 16px;
  text-align: center;
  width: 584px;
  height: 154px;
  margin: 50px auto;
}
main section div {
  font-family: Open-Sans;
  width: 210px;
  height: 120px;
  text-align: center;
  border: solid black 5px;
  margin: 0px auto 25px auto;
}
main section div .contact:first-of-type {
  margin-top: 20px;
}
main section div .contact:nth-of-type(2) {
  margin-top: 21px;
}

/* _ footer */

footer {
  background-color: #3a3b4a;
  height: 175px;
  font-family: Open-Sans;
  font-size: 16px;
  color: white;
  padding-left: 25px;
  padding-top: 40px;
}
footer p {
  width: 700px;
  height: 45px;
  margin: 0px auto 0px 0px;
}
footer a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 13px;
  color: white;
}
