@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-VariableFont_wght.ttf);
}

* {
  /* - page reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* - 1rem =~ 16px   */
  font-size: 62.5%;
  /* - now 1rem = 10px */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
}

.left-side {
  display: flex;
  gap: 5vw;
}

.nav-links {
  display: flex;
  gap: 1.5vw;
}

.right-side {
  display: flex;
  gap: 1.5vw;
}

.rings-section {
  background-color: #d9e8e5;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 10vh;
}

.rings-section h2 {
  margin: 0 0 2vh 5vw;
}

.rings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}
