@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdthwght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-top: 50px;
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Open Sans";
}

main {
  width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pOne {
  grid-column: 2/3;
}
