@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-VariableFont_wght.ttf);
}

* {
  /* - page reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* - 1rem =~ 16px   */
  font-size: 62.5%;
  /* - now 1rem = 10px */
}

nav {
  padding: 3vh 20vw 3vh 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p {
  font-family: Raleway;
  color: #666;
  font-size: clamp(0.1rem, 2vw, 2.4rem);
  font-weight: 300;
  background-color: #fff;
}
.nav-links {
  display: flex;
  gap: 2.5vw;
}
.nav-links a {
  font-family: Raleway;
  text-transform: uppercase;
  color: #4c4c4c;
  text-decoration: none;
  font-size: clamp(0.1rem, 1.5vw, 1.3rem);
  font-weight: 500;
}
.hero {
  width: 100vw;
  height: 100vh;
  background: url(../img/ocean.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}
.hero h1 {
  font-family: Raleway;
  font-size: clamp(0.1rem, 5vw, 6rem);
  font-weight: 400;
  color: #fff;
}
.hero p {
  font-size: clamp(0.1rem, 2vw, 1.4rem);
  font-weight: 400;
  font-family: Raleway;
  color: #fff;
}
.hero-buttons {
  display: flex;
  gap: 2.5vw;
}

.hero-buttons a {
  min-width: clamp(0.1rem, 15vw, 20rem);
  min-height: clamp(0.1rem, 10vh, 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(0.1rem, 2vw, 1.2rem);
}

.hero-buttons a:nth-of-type(1) {
  background-color: #745cf9;
  color: #fff;
}
.hero-buttons a:nth-of-type(1):hover {
  background-color: #3b2a9d;
}
.hero-buttons a:nth-of-type(2) {
  border: #fff solid 2px;
  color: #fff;
}
.hero-buttons a:nth-of-type(2):hover {
  color: #000;
  background-color: #fff;
}
