* {
  /* - page reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */

:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 133, 199);
  --lightgray: rgb(238, 238, 238);
  --gray: rgb(133, 133, 133);
}

main {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

form {
  margin-top: 10vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.073);
}

.form_header {
  color: var(--white);
  background-color: var(--blue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 2.5vw;
}

.form_header h1 {
  font-size: clamp(1px, 2.5vw, 30px);
  font-weight: 100;
  margin-bottom: 1vw;
}

.form_header p {
  font-size: clamp(1px, 2vw, 20px);
}

.form_main {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2.5vw;
}

.title {
  display: flex;
  align-items: center;
  position: relative;
}

h2 {
  font-size: clamp(1px, 2.6vw, 20px);
  font-weight: 100;
  color: var(--blue);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50vw;
  position: absolute;
  left: -3.8vw;
}

.circle h2 {
  color: var(--white);
}

.input_field {
  margin-top: 1vw;
  background-color: var(--lightgray);
  padding: 2vw;
  font-size: clamp(1px, 2vw, 15px);
  font-weight: 100;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.input_field label {
  color: var(--gray);
}

.input_field input,
.input_field textarea {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  height: 3vw;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.093);
}

.input_field textarea {
  resize: vertical;
}

.form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5vw 2.5vw 2.5vw;
}

input[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  padding: 1vw 2.5vw;
  border-radius: 10px;
  font-size: clamp(1px, 2vw, 16px);
  border: none;
}

.agree {
  color: var(--gray);
  font-size: clamp(1px, 2vw, 15px);
}
.agree input {
  border: 1px solid var(--gray);
}
