* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/bergen.jpeg) no-repeat center;
  background-size: cover;
  height: 800px;
}
nav {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 10px;
  text-align: right;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}
