*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
}



/* ! DESKTOP first */
/*  Overflow bestimmt, ob ein übergroßer Inhalt innerhalb eines Elements beschnitten (hidden), sichtbar(visible) oder scrollbar(scroll) sein soll.*/
.overflow {
    background-color: chocolate;

/*  height: 600px;
    overflow: hidden; */
    /* overflow:hidden - nicht sichtbar*/
    /* overflow: scroll - scrollbalken ensteht */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.overflow div {
    width: 45vw;
}
.overflow img {
    width: 45vw;
}
header {
    background-color: aqua;
}
.burger {
    height: 5px;
    width: 25px;
    background-color: black;
    margin: 2px;
    border-radius: 10px;
}
.burger-wrapper{
    top: 30px;
    right: 30px;
    position: fixed;
    display: none;
}
.container{
    background-color: bisque;
    padding: 30px;
    margin: 30px;
    height: 1500px;
    position: relative;
}
.container img {
    height: 20px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}
.back-to-top {
    height: 20px;
    width: 20px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    cursor: pointer;
}

/* ! Media Queries */

/* ? Richtwerte:  */
/* Handy - 567px */
/* Tablets - 768px */
/* Desktop - 992px */


/* ? Desktop -> Handy (max-width)
das bedeutet das das Design greift wenn die maximale Breite erreicht oder unterschritten ist
*/

/* ? Handy -> Desktop (min-width)
das bedeutet das das Design greift wenn die maximale Breite erreicht oder überschritten ist
*/

/* ? verschiedene Medientypen:
all (alle Engeräte) - default
print (Druckversion)
screen (Bildschirm)
*/

/* ? logische Operatoren:
and - kombiniert verschiedenen media queries
not - negiert
only - benötigt medientyp,  Unterstützung für alte Browser
Komma / or - mehrere (komplexe) Media Queries
*/


/* ! Tablet*/
/* AN DIESE SCHREIBWEISE HALTEN */
@media only screen and (max-width: 768px){
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .overflow {
        background-color: blueviolet;
        flex-direction: column;
        padding: 30px 40px;
    }
    .overflow div {
        width: auto;
    }
    .overflow img {
        width: auto;
    }
    .burger-wrapper{
        display: inline-block;
    }
    nav {
        display:none;
    }
}

/* ! Handy */
/* DAS HIER VERWENDEN @media only screen (max-width:567px) - unten nur damit ihr es mal geshen habt */
@media (min-width: 320px) and (max-width:567px){
    h1{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    .overflow {
        background-color: green;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav a {
        padding: 10px;
        color: black;
    }
    header {
        background-color: rgb(102, 58, 102);
        top: 0;
        left: 0;
        position: sticky;
        z-Index: 1;
        /* Z- Index default:0 ; umso höher die Zahl umso mehr ist Element im Vordergrund */
    }
    .burger-wrapper{
        display: none;
    }
    .container {
        background-color: cornflowerblue;
    }
}


/* ? verschiedene Medien Eigenschaften
- sehr viele verschiedene
- z.B. and (orientation: portrait / landscape)
- Handy hochkant(portrait) oder quer (landscape)Format   
*/

/* ? NUR beispielhafter Wert zur Veranschaulichung von landscape */
@media (max-width: 320px) and (orientation: landscape){
    .overflow{
        background-color: brown;
    }
}